
<div class="personal-det-container" [ngStyle]="{'height': changePassword ? 'auto' : '100vh'}">
    <div class="personal-details">
        <span class="mat-h1">Personal Details</span>
        <mat-divider></mat-divider>
        <span class="mat-body-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sit voluptatum atque totam eum voluptas doloribus hic culpa maiores id facilis?
            Repellat harum dolore quis ipsa quos natus illum voluptatibus consequatur, aspernatur autem
            aliquid dignissimos saepe qui molestias nulla non excepturi accusantium maiores.
            Quidem eaque doloribus itaque culpa illum consectetur ab?
        </span>
        <form [formGroup]="personalDetForm" (ngSubmit)="onSubmit()">
            <div class="personal-form-position">
                <div>
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" name="fname" formControlName="fname" [readonly]="disableFormEdit"/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" name="lname" formControlName="lname" [readonly]="disableFormEdit"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="email" formControlName="emailId" readonly />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="tel" name="phone" formControlName="phoneNumber" readonly/>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-actions">
                <button id="actionButtonColor" (click)="disableFormEdit=!disableFormEdit" type="submit" color="primary"
                    mat-raised-button>
                    {{ !disableFormEdit ? 'Confirm Changes' : 'Update Details' }}
                </button>
                <div class="space"></div>
                <button id="actionButtonColor" (click)="changePassword=true" *ngIf="!changePassword" mat-raised-button
                    color="warn">Change Password</button>
            </div>
        </form>
    </div>
</div>

<div class="change-password" *ngIf="changePassword">
    <form [formGroup]="changeDetForm" (ngSubmit)="onSubmitchange()">
        <div class="form-heading">
            <span class="mat-h1">Change Password</span>
        </div>
        <mat-divider id="matDividerCenter"></mat-divider>
        <div class="form-heading">
            <span class="mat-body-1">Make sure you choose a Secure Password</span>
        </div>
        <div class="center-horizontally">
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password" />
                <mat-icon (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required formControlName="newPassword" />
                <mat-icon (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required formControlName="confirmNewPassword" />
                <mat-icon (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
        </div>

        <div class="form-actions">
            <button id="passiveButtonColor" mat-button (click)="changePassword=false">Cancel</button>
            <div class="space"></div>
            <button id="actionButtonColor" mat-raised-button type="submit" >Confirm</button>
        </div>
    </form>
</div>