.container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

form {
    padding: 3rem 10rem 3rem 10rem;
    border-radius: .25rem;
    box-shadow: 0 0 .25rem grey;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.text-section {
    padding: 2rem;
}

mat-divider {
    width: 12.5rem;
    margin-bottom: 1.25rem;
    border-top-color: #f44336;
    margin-top: 1.25rem;
}
