<div class="requests-container">
    <div class="action-section">
        <span class="mat-h1">Notification Creation</span>
        <ng-container *ngFor="let notification of notifications">
            <mat-card *ngIf="notification.provideFrom||notification.getTo">
                <button (click)="handleCancelNotfRequest(notification)" color="warn" mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
                {{ notification.provideFrom ? notification.provideFrom : ''}}
                {{ notification.providerName ? notification.providerName : ''}}
                {{ notification.amount }}
                {{ notification.getTo ? notification.getTo : ''}}
                {{ notification.getterName ? notification.getterName : ''}}
                <button (click)="allocateNotification(notification)"
                    [disabled]="!notification.provideFrom||!notification.getTo" color="warn" mat-button>Send
                    Notification</button>
            </mat-card>
        </ng-container>
        <span class="mat-body-1" *ngIf="notifications.length===0">
            No notifications created
        </span>
    </div>
    
    <!-- TODO: create all members component -->
    <div class="all-members" *ngIf="showAllActiveMembers">
        <ng-container *ngFor="let customer of listOfProviders">
            <mat-card>
                {{ customer.id }}
                {{ customer.name }}
                <button (click)="selectCustomerFromAllRequests(customer)" mat-button color="warn">Select</button>
            </mat-card>
        </ng-container>
    </div>
    
    <div class="all-requests">
        <mat-tab-group #tabRef mat-align-tabs="start">
            <mat-tab label="Provider Requests">
                <div class="table-section">
                    <app-all-requests-table [dataSource]="providerRequestData" [isProvider]="true" [filterAmount]="amount"
                        [buttonDisabled]="providerObject ? true : false" [noMatchFound]="filteredLengthProvider"
                        (userDataObject)="getProviderObject($event)">
                    </app-all-requests-table>
                </div>
            </mat-tab>
            <mat-tab label="Getter Requests">
                <div class="table-section">
                    <app-all-requests-table [dataSource]="getterRequestData" [isProvider]="false" [filterAmount]="amount"
                        [buttonDisabled]="getterObject ? true : false" [noMatchFound]="filteredLengthGetter"
                        (userDataObject)="getGetterObject($event)">
                    </app-all-requests-table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>

