<div class="bank-details">
    <span class="mat-h1">Bank Details</span>
    <mat-divider></mat-divider>
    <form [formGroup]="bankDetForm" (ngSubmit)="onSubmit()">
        <div class="center-horizontally">
            <div>
                <mat-form-field>
                    <mat-label>Account Number</mat-label>
                    <input matInput type="text" name="acctNumber" formControlName="acctNumber" [readonly]="disableFormEdit" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Account Holder Name</mat-label>
                    <input matInput type="text" name="acctHolder" formControlName="acctHolder" [readonly]="disableFormEdit" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bank Name</mat-label>
                    <input matInput type="text" name="bank" formControlName="bank" [readonly]="disableFormEdit" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>IFSC Code</mat-label>
                    <input matInput type="text" name="ifsc" formControlName="ifsc" [readonly]="disableFormEdit" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Google Pay Phone Number</mat-label>
                    <input matInput type="tel" name="gpay" formControlName="gpay" [readonly]="disableFormEdit" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Pe Number</mat-label>
                    <input matInput type="tel" name="phonepe" formControlName="phonepe" [readonly]="disableFormEdit" />
                </mat-form-field>
            </div>
        </div>
        
        <div class="form-actions">
            <button (click)="disableFormEdit=!disableFormEdit" type="submit" id="actionButtonColor" mat-raised-button>
                {{ disableFormEdit ? 'Update Details' : 'Confirm Changes' }}
            </button>
            &nbsp;
            <button (click)="disableFormEdit=true" *ngIf="!disableFormEdit" mat-button id="passiveButtonColor">Cancel</button>
        </div>
        
    </form>
</div>