<div fxLayout="column" fxLayoutAlign="center center" class="error-section nav-content-alignment">
    <span class="title mat-display-1">
        <span class="mat-display-3">Oops!</span> Looks like something went wrong...
    </span>
    <span class="body mat-h1">
        Maybe you tried to access a url without proper Authentication or 
        the url you tried to access is unavailable.
    </span>
    <span fxLayout="row" fxLayoutAlign="center center" class="mat-h2 actions">
        <span class="mat-h1">Go back to 
            <button mat-button [routerLink]=" ['/'] " class="link">
                <mat-icon style="margin-right: 1.5rem;">home</mat-icon>ProfitableGoals.com
            </button>
        </span>
    </span>
</div>